**/[Bb]in/
**/[Oo]bj/
**/[Dd]ownloads/
**/__pycache__/
**/ffmpeg.exe
**/ffprobe.exe
**/icons.db
**/icons.dat
**/python.zip
**/argos-translate.zip
**/dataset_files/
**/originals/
**/spectrograms_aac/
**/spectrograms_mp3/
**/spectrograms_opus/
**/spectrograms_vorbis/
**/dataset/
**/spectrograms/

*.pth

*.mp3
*.wav
*.opus
*.7z
*.env

## Игнорировать папку .vs (настройки Visual Studio)
.vs/

## Дополнительные настройки для .NET/C#
# Файлы пользовательских настроек
*.user
*.suo
*.userosscache
*.sln.docstates

# Файлы пакетов NuGet
packages/
*.nupkg
NuGet.exe

# Резервные и временные файлы
*.[Cc]ache
*.ilk
*.msi
*.msix
*.msm
*.msp

# Файлы Visual Studio
*.swp
*~._*
*.db
*.opendb
*.VC.db

# Rider
*.idea/
*.sln.iml